$white: #fff;
$light: #F8F8F8;
$paper: #f2EECB;
$lightblue: #90c1cc;
$default-bg: rgba(80, 81, 79, 1);
$color2: rgba(242, 95, 92, 1);
$color3: rgba(255, 224, 102, 1);
$color4: rgba(36, 123, 160, 1);
$color5: rgba(112, 193, 179, 1);
$type: 'Inconsolata', monospace;
$regular: 'Open Sans', sans-serif;
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
nav {
    padding: 2em;
    width: 100%;
    ul {
        display: flex;
        justify-content: flex-end;
        li {
            margin-right: 2em;
            list-style-type: none;
            a {
                color: $white;
                text-decoration: none;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;
                transition-property: color;
                &:hover {
                    color: $color3;
                }
            }

        }
    }
}

#to-top {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 2em;
    color: $default-bg;
    opacity: 0.6;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: opacity; 
    &:hover {
        opacity: 1;
    }

}


html, body {
    height: 100%;
    font-family: $regular;
}

body {
    background: $white;
    color: $white;
}
nav {
    position: absolute;
}

header {
    height: 100%;
    background: url('../images/airplane.png');
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:center;
    #landing-card {
        background: $paper;
        -webkit-box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        -moz-box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        font-family: $type;
        color: $default-bg;
        min-width: 50%;
        min-height: 50%;
        font-size: 1.5em;
        line-height: 2.5em;
        .card-text{
            text-align: center;
            hr {
                margin-bottom: 1em;
                border: 0; 
                height: 1px; 
                background-image: -webkit-linear-gradient(left,$paper ,$default-bg ,$paper );
                background-image: -moz-linear-gradient(left,$paper ,$default-bg ,$paper );
                background-image: -ms-linear-gradient(left,$paper ,$default-bg ,$paper );
                background-image: -o-linear-gradient(left,$paper ,$default-bg ,$paper ); 
            }
            padding: 2em;
            margin-top: 2em;
            
            h1 {
                font-size: 30px;
                font-weight: normal;
            }p {
                a {
                    text-decoration: none;
                    color: $color2;
                    &:hover {
                        color: $color4;
                    }
                }
            }
        }
    }
}

#section3 {
    background: $white;
    min-height: 75%;
    padding-top: 250px;
    padding-bottom: 100px;
    h2 {
        font-size: 4em;
        text-align: center;
        color: $default-bg;

    }
    
    #services {
        height: 70%;
        display: flex;
        justify-content: center;
        margin: 50px 100px;
        .services {
            padding: 3em;
            color: $default-bg;
            // width: 20%;

            align-content: center;
            text-align: center;
            h3 {
                color: $color4;
                font-size: 1.5em;
                margin-bottom: 0.7em;
            }
        }
        #custom-sites {
            margin: 0px 4em;
        }
        img {
            padding-bottom: 2em;
        }
        
    }
}
    
    .two-equal {
    display: grid;
    grid-template-columns: auto auto;
    background: $white;
    .equal-col1 {
        text-align: left;
        img {
            height: 700px;
        }
    }
    .equal-col2 {
        border-left: 2px solid $color4;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        color: $color4;
        text-align: center;
        p {
            margin-left: 50px;
            width: 600px;
            font-size:2em;
            line-height: 3em;
            text-align: left;
            font-family: $type;
            
            

        }
        
    }

}


#sample-projects {
    background: $white;
    min-height: 75%;
    padding-top: 350px;
    padding-bottom: 200px;
    h2 {
        padding-top:35px;
        font-size: 4em;
        text-align: center;
        color: $default-bg;
        margin-bottom: 150px;

    }
    
    #projects {
        height: 70%;
        display: flex;
        justify-content: center;
        margin: 50px 100px;
        .project {
            padding: 3em;
            color: $default-bg;
            width: 30%;

            align-content: center;
            text-align: center;
        }
        #project-2 {
            margin: 0px 4em;
        }

        img {
            padding-bottom: 2em;
        }
        
    }
}

#quote-request {
    height: 100%;
    padding-top: 100px;
    background: $lightblue;
    position: cover;
    form {
        .instruction {
            text-align: center;
            padding: 50px;
            line-height: 3em;
            color: $default-bg;
            h2 {
                font-size: 2em;
            }
        }
        hr {
            margin-bottom: 3em;
            background-color: $paper;
            border-top: 2px dashed #8c8b8b;
        }
        height: 700px;
        -webkit-box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        -moz-box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        padding: 20px 20px 20px 20px;
        background: $paper;
        width:40%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 100px;
        text-align: center;
        input {
            display: block;
            width:90%;
            border:1px solid #CCC;
            background:#FFF;
            margin:20px auto 20px auto;
            padding:15px;
            font-family: $regular;
        }
        textarea {
            display: block;
            height:100px;
            width: 90%;
            margin:20px auto 20px auto;
            resize:none;
            padding:15px;
            border:1px solid #CCC;
            font-family: $regular;
        }
        button {

            display: block;
            cursor:pointer;
            width:50%;
            border:none;
            background: $color5;
            color: $white;
            margin:35px auto 5px auto;
            padding:15px;
            font-size:20px;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            transition-property: background, color; 
            &:hover {
                background: $color3;
                color:$default-bg;

            }
        }
    }
}


@media only screen and (max-width: 1400px) {
  body {
    background: $lightblue;
  }
  #sample-projects {
    background: $white;
    min-height: 50%;
    padding-top: 200px;
    padding-bottom: 200px;
    h2 {
        padding-top:35px;
        font-size: 4em;
        text-align: center;
        color: $default-bg;
        margin-bottom: 150px;

    }
    
    #projects {
        height: 50%;
        display: flex;
        justify-content: center;
        margin: 0;
        .project {
            padding: 0;
            color: $default-bg;
            width: 30%;

            align-content: center;
            text-align: center;
        }
        #project-2 {
            margin: 0px 1em;
        }

        img {
            padding-bottom: 2em;
        }
        
    }
    form {
        margin-top: 0;
    }

}
}

@media only screen and (max-width: 1280px) {
    nav {
        position: static;
    }

    header #landing-card .card-text {
        padding: 1em;
        margin-top: 1em;
        
    }
}

@media only screen and (max-width: 768px) {
    header {
    height: 100%;
    background: url('../images/airplane.png');
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:center;
    #landing-card {
        background: $paper;
        -webkit-box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        -moz-box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        font-family: $type;
        color: $default-bg;
        min-width: 50%;
        min-height: 50%;
        font-size: 2em;
        line-height: 1em;
        .card-text{
            text-align: center;
            hr {
                margin-bottom: 1em;
                border: 0; 
                height: 1px; 
                background-image: -webkit-linear-gradient(left,$paper ,$default-bg ,$paper );
                background-image: -moz-linear-gradient(left,$paper ,$default-bg ,$paper );
                background-image: -ms-linear-gradient(left,$paper ,$default-bg ,$paper );
                background-image: -o-linear-gradient(left,$paper ,$default-bg ,$paper ); 
            }
            padding: 1em;
            margin-top: 1em;
            
            h1 {
                font-size: 30px;
                font-weight: normal;
            }p {
                a {
                    text-decoration: none;
                    color: $color2;
                    &:hover {
                        color: $color4;
                    }
                }
            }
        }
    }
    }
    #section3 {
    background: $white;
    min-height: 75%;
    padding-top: 250px;
    padding-bottom: 100px;
    h2 {
        font-size: 4em;
        text-align: center;
        color: $default-bg;

    }
    
    #services {
        height: 70%;
        display: block;
        justify-content: center;
        margin: 50px 100px;
        .services {
            padding: 3em;
            color: $default-bg;
            // width: 20%;

            align-content: center;
            text-align: center;
            h3 {
                color: $color4;
                font-size: 1.5em;
                margin-bottom: 0.7em;
            }
        }
        #custom-sites {
            margin: 0px 4em;
        }
        img {
            padding-bottom: 2em;
        }
        
    }
    }
    
    .two-equal {
    display: block;
    grid-template-columns: auto auto;
    background: $white;
    .equal-col1 {
        text-align: left;
        img {
            height: 700px;
        }
    }
    .equal-col2 {
        border-left: 2px solid $color4;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        color: $color4;
        text-align: center;
        p {
            margin-left: 50px;
            margin-top:2rem;
            margin-bottom:0rem;
            width: 600px;
            font-size:2em;
            line-height: 3em;
            text-align: left;
            font-family: $type;
            
            

        }
        
    }

    }
    #sample-projects {
    background: $white;
    min-height: 75%;
    padding-top: 350px;
    padding-bottom: 200px;
    h2 {
        padding-top:35px;
        font-size: 4em;
        text-align: center;
        color: $default-bg;
        margin-bottom: 150px;

    }
    
    #projects {
        height: 70%;
        display: block;
        justify-content: center;
        margin: 50px 100px;
        .project {
            padding: 3em;
            color: $default-bg;
            width: 30%;

            align-content: center;
            text-align: center;
        }
        #project-2 {
            margin: 0px 0em;
        }

        img {
            padding-bottom: 2em;
        }
        
    }
}

#quote-request {
    height: 100%;
    padding-top: 100px;
    background: $lightblue;
    position: cover;
    form {
        .instruction {
            text-align: center;
            padding: 50px;
            line-height: 3em;
            color: $default-bg;
            h2 {
                font-size: 2em;
            }
        }
        hr {
            margin-bottom: 3em;
            background-color: $paper;
            border-top: 2px dashed #8c8b8b;
        }
        height: 700px;
        -webkit-box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        -moz-box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        padding: 20px 20px 20px 20px;
        background: $paper;
        width:100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 100px;
        text-align: center;
        input {
            display: block;
            width:90%;
            border:1px solid #CCC;
            background:#FFF;
            margin:20px auto 20px auto;
            padding:15px;
            font-family: $regular;
        }
        textarea {
            display: block;
            height:100px;
            width: 90%;
            margin:20px auto 20px auto;
            resize:none;
            padding:15px;
            border:1px solid #CCC;
            font-family: $regular;
        }
        button {

            display: block;
            cursor:pointer;
            width:50%;
            border:none;
            background: $color5;
            color: $white;
            margin:35px auto 5px auto;
            padding:15px;
            font-size:20px;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            transition-property: background, color; 
            &:hover {
                background: $color3;
                color:$default-bg;

            }
        }
    }
}


}
@media only screen and (max-width: 360px) {
    header {
    height: 100%;
    background: url('../images/airplane.png');
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:center;
    #landing-card {
        background: $paper;
        -webkit-box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        -moz-box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        font-family: $type;
        color: $default-bg;
        min-width: 50%;
        min-height: 90%;
        font-size: 1.8em;
        line-height: 1em;
        .card-text{
            text-align: center;
            hr {
                margin-bottom: 1em;
                border: 0; 
                height: 1px; 
                background-image: -webkit-linear-gradient(left,$paper ,$default-bg ,$paper );
                background-image: -moz-linear-gradient(left,$paper ,$default-bg ,$paper );
                background-image: -ms-linear-gradient(left,$paper ,$default-bg ,$paper );
                background-image: -o-linear-gradient(left,$paper ,$default-bg ,$paper ); 
            }
            padding: 1em;
            margin-top: 1em;
            
            h1 {
                font-size: 30px;
                font-weight: normal;
            }p {
                a {
                    text-decoration: none;
                    color: $color2;
                    &:hover {
                        color: $color4;
                    }
                }
            }
        }
    }
    }
    #section3 {
    background: $white;
    min-height: 75%;
    padding-top: 100px;
    padding-bottom: 100px;
    h2 {
        font-size: 3em;
        text-align: center;
        color: $default-bg;

    }
    
    #services {
        height: 70%;
        display: block;
        justify-content: center;
        margin: 50px 50px;
        .services {
            padding: 0em;
            color: $default-bg;
            // width: 20%;

            align-content: center;
            text-align: center;
            h3 {
                color: $color4;
                font-size: 1.5em;
                margin-bottom: 0.7em;
            }
        }
        #custom-sites {
            margin: 0px 0em;
        }
        img {
            padding-bottom: 2em;
        }
        
    }
    }
    
    .two-equal {
        
    display: none;
    grid-template-columns: auto auto;
    background: $white;
    .equal-col1 {
        text-align: left;
        img {
            height: 700px;
        }
    }
    .equal-col2 {
        border-left: 2px solid $color4;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        color: $color4;
        text-align: center;
        p {
            margin-left: 50px;
            margin-top:2rem;
            margin-bottom:0rem;
            width: 600px;
            font-size:2em;
            line-height: 3em;
            text-align: left;
            font-family: $type;
            
            

        }
        
    }

    }
    #sample-projects {
    background: $white;
    min-height: 75%;
    padding-top: 100px;
    padding-bottom: 100px;
    h2 {
        padding-top:10px;
        font-size: 3em;
        text-align: center;
        color: $default-bg;
        margin-bottom: 80px;

    }
    
    #projects {
        height: 70%;
        display: block;
        justify-content: center;
        margin: 50px 28px;
        .project {
            padding: 0em;
            color: $default-bg;
            width: 30%;

            align-content: center;
            text-align: center;
        }
        #project-2 {
            margin: 0px 0em;
        }

        img {
            padding-bottom: 2em;
            height: 200px;
            width:300px;
        }
        
    }
}

#quote-request {
    height: 100%;
    padding-top: 0px;
    background: $lightblue;
    position: cover;
    form {
        .instruction {
            text-align: center;
            padding: 50px;
            line-height: 3em;
            color: $default-bg;
            h2 {
                font-size: 2em;
            }
        }
        hr {
            margin-bottom: 3em;
            background-color: $paper;
            border-top: 2px dashed #8c8b8b;
        }
        height: 800px;
        -webkit-box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        -moz-box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        box-shadow: 2px 7px 23px 6px rgba(0,0,0,0.27);
        padding: 20px 20px 20px 20px;
        background: $paper;
        width:100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
        input {
            display: block;
            width:90%;
            border:1px solid #CCC;
            background:#FFF;
            margin:20px auto 20px auto;
            padding:15px;
            font-family: $regular;
        }
        textarea {
            display: block;
            height:100px;
            width: 90%;
            margin:20px auto 20px auto;
            resize:none;
            padding:15px;
            border:1px solid #CCC;
            font-family: $regular;
        }
        button {

            display: block;
            cursor:pointer;
            width:50%;
            border:none;
            background: $color5;
            color: $white;
            margin:35px auto 5px auto;
            padding:15px;
            font-size:20px;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            transition-property: background, color; 
            &:hover {
                background: $color3;
                color:$default-bg;

            }
        }
    }
}

}