* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth; }

nav {
  padding: 2em;
  width: 100%; }
  nav ul {
    display: flex;
    justify-content: flex-end; }
    nav ul li {
      margin-right: 2em;
      list-style-type: none; }
      nav ul li a {
        color: #fff;
        text-decoration: none;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-property: color; }
        nav ul li a:hover {
          color: #ffe066; }

#to-top {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 2em;
  color: #50514f;
  opacity: 0.6;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: opacity; }
  #to-top:hover {
    opacity: 1; }

html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif; }

body {
  background: #fff;
  color: #fff; }

nav {
  position: absolute; }

header {
  height: 100%;
  background: url("../images/airplane.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  header #landing-card {
    background: #f2EECB;
    -webkit-box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
    box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
    font-family: "Inconsolata", monospace;
    color: #50514f;
    min-width: 50%;
    min-height: 50%;
    font-size: 1.5em;
    line-height: 2.5em; }
    header #landing-card .card-text {
      text-align: center;
      padding: 2em;
      margin-top: 2em; }
      header #landing-card .card-text hr {
        margin-bottom: 1em;
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, #f2EECB, #50514f, #f2EECB);
        background-image: -moz-linear-gradient(left, #f2EECB, #50514f, #f2EECB);
        background-image: -ms-linear-gradient(left, #f2EECB, #50514f, #f2EECB);
        background-image: -o-linear-gradient(left, #f2EECB, #50514f, #f2EECB); }
      header #landing-card .card-text h1 {
        font-size: 30px;
        font-weight: normal; }
      header #landing-card .card-text p a {
        text-decoration: none;
        color: #f25f5c; }
        header #landing-card .card-text p a:hover {
          color: #247ba0; }

#section3 {
  background: #fff;
  min-height: 75%;
  padding-top: 250px;
  padding-bottom: 100px; }
  #section3 h2 {
    font-size: 4em;
    text-align: center;
    color: #50514f; }
  #section3 #services {
    height: 70%;
    display: flex;
    justify-content: center;
    margin: 50px 100px; }
    #section3 #services .services {
      padding: 3em;
      color: #50514f;
      align-content: center;
      text-align: center; }
      #section3 #services .services h3 {
        color: #247ba0;
        font-size: 1.5em;
        margin-bottom: 0.7em; }
    #section3 #services #custom-sites {
      margin: 0px 4em; }
    #section3 #services img {
      padding-bottom: 2em; }

.two-equal {
  display: grid;
  grid-template-columns: auto auto;
  background: #fff; }
  .two-equal .equal-col1 {
    text-align: left; }
    .two-equal .equal-col1 img {
      height: 700px; }
  .two-equal .equal-col2 {
    border-left: 2px solid #247ba0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    color: #247ba0;
    text-align: center; }
    .two-equal .equal-col2 p {
      margin-left: 50px;
      width: 600px;
      font-size: 2em;
      line-height: 3em;
      text-align: left;
      font-family: "Inconsolata", monospace; }

#sample-projects {
  background: #fff;
  min-height: 75%;
  padding-top: 350px;
  padding-bottom: 200px; }
  #sample-projects h2 {
    padding-top: 35px;
    font-size: 4em;
    text-align: center;
    color: #50514f;
    margin-bottom: 150px; }
  #sample-projects #projects {
    height: 70%;
    display: flex;
    justify-content: center;
    margin: 50px 100px; }
    #sample-projects #projects .project {
      padding: 3em;
      color: #50514f;
      width: 30%;
      align-content: center;
      text-align: center; }
    #sample-projects #projects #project-2 {
      margin: 0px 4em; }
    #sample-projects #projects img {
      padding-bottom: 2em; }

#quote-request {
  height: 100%;
  padding-top: 100px;
  background: #90c1cc;
  position: cover; }
  #quote-request form {
    height: 700px;
    -webkit-box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
    box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
    padding: 20px 20px 20px 20px;
    background: #f2EECB;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center; }
    #quote-request form .instruction {
      text-align: center;
      padding: 50px;
      line-height: 3em;
      color: #50514f; }
      #quote-request form .instruction h2 {
        font-size: 2em; }
    #quote-request form hr {
      margin-bottom: 3em;
      background-color: #f2EECB;
      border-top: 2px dashed #8c8b8b; }
    #quote-request form input {
      display: block;
      width: 90%;
      border: 1px solid #CCC;
      background: #FFF;
      margin: 20px auto 20px auto;
      padding: 15px;
      font-family: "Open Sans", sans-serif; }
    #quote-request form textarea {
      display: block;
      height: 100px;
      width: 90%;
      margin: 20px auto 20px auto;
      resize: none;
      padding: 15px;
      border: 1px solid #CCC;
      font-family: "Open Sans", sans-serif; }
    #quote-request form button {
      display: block;
      cursor: pointer;
      width: 50%;
      border: none;
      background: #70c1b3;
      color: #fff;
      margin: 35px auto 5px auto;
      padding: 15px;
      font-size: 20px;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      transition-property: background, color; }
      #quote-request form button:hover {
        background: #ffe066;
        color: #50514f; }

@media only screen and (max-width: 1400px) {
  body {
    background: #90c1cc; }
  #sample-projects {
    background: #fff;
    min-height: 50%;
    padding-top: 200px;
    padding-bottom: 200px; }
    #sample-projects h2 {
      padding-top: 35px;
      font-size: 4em;
      text-align: center;
      color: #50514f;
      margin-bottom: 150px; }
    #sample-projects #projects {
      height: 50%;
      display: flex;
      justify-content: center;
      margin: 0; }
      #sample-projects #projects .project {
        padding: 0;
        color: #50514f;
        width: 30%;
        align-content: center;
        text-align: center; }
      #sample-projects #projects #project-2 {
        margin: 0px 1em; }
      #sample-projects #projects img {
        padding-bottom: 2em; }
    #sample-projects form {
      margin-top: 0; } }

@media only screen and (max-width: 1280px) {
  nav {
    position: static; }
  header #landing-card .card-text {
    padding: 1em;
    margin-top: 1em; } }

@media only screen and (max-width: 768px) {
  header {
    height: 100%;
    background: url("../images/airplane.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; }
    header #landing-card {
      background: #f2EECB;
      -webkit-box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
      -moz-box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
      box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
      font-family: "Inconsolata", monospace;
      color: #50514f;
      min-width: 50%;
      min-height: 50%;
      font-size: 2em;
      line-height: 1em; }
      header #landing-card .card-text {
        text-align: center;
        padding: 1em;
        margin-top: 1em; }
        header #landing-card .card-text hr {
          margin-bottom: 1em;
          border: 0;
          height: 1px;
          background-image: -webkit-linear-gradient(left, #f2EECB, #50514f, #f2EECB);
          background-image: -moz-linear-gradient(left, #f2EECB, #50514f, #f2EECB);
          background-image: -ms-linear-gradient(left, #f2EECB, #50514f, #f2EECB);
          background-image: -o-linear-gradient(left, #f2EECB, #50514f, #f2EECB); }
        header #landing-card .card-text h1 {
          font-size: 30px;
          font-weight: normal; }
        header #landing-card .card-text p a {
          text-decoration: none;
          color: #f25f5c; }
          header #landing-card .card-text p a:hover {
            color: #247ba0; }
  #section3 {
    background: #fff;
    min-height: 75%;
    padding-top: 250px;
    padding-bottom: 100px; }
    #section3 h2 {
      font-size: 4em;
      text-align: center;
      color: #50514f; }
    #section3 #services {
      height: 70%;
      display: block;
      justify-content: center;
      margin: 50px 100px; }
      #section3 #services .services {
        padding: 3em;
        color: #50514f;
        align-content: center;
        text-align: center; }
        #section3 #services .services h3 {
          color: #247ba0;
          font-size: 1.5em;
          margin-bottom: 0.7em; }
      #section3 #services #custom-sites {
        margin: 0px 4em; }
      #section3 #services img {
        padding-bottom: 2em; }
  .two-equal {
    display: block;
    grid-template-columns: auto auto;
    background: #fff; }
    .two-equal .equal-col1 {
      text-align: left; }
      .two-equal .equal-col1 img {
        height: 700px; }
    .two-equal .equal-col2 {
      border-left: 2px solid #247ba0;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: auto;
      color: #247ba0;
      text-align: center; }
      .two-equal .equal-col2 p {
        margin-left: 50px;
        margin-top: 2rem;
        margin-bottom: 0rem;
        width: 600px;
        font-size: 2em;
        line-height: 3em;
        text-align: left;
        font-family: "Inconsolata", monospace; }
  #sample-projects {
    background: #fff;
    min-height: 75%;
    padding-top: 350px;
    padding-bottom: 200px; }
    #sample-projects h2 {
      padding-top: 35px;
      font-size: 4em;
      text-align: center;
      color: #50514f;
      margin-bottom: 150px; }
    #sample-projects #projects {
      height: 70%;
      display: block;
      justify-content: center;
      margin: 50px 100px; }
      #sample-projects #projects .project {
        padding: 3em;
        color: #50514f;
        width: 30%;
        align-content: center;
        text-align: center; }
      #sample-projects #projects #project-2 {
        margin: 0px 0em; }
      #sample-projects #projects img {
        padding-bottom: 2em; }
  #quote-request {
    height: 100%;
    padding-top: 100px;
    background: #90c1cc;
    position: cover; }
    #quote-request form {
      height: 700px;
      -webkit-box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
      -moz-box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
      box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
      padding: 20px 20px 20px 20px;
      background: #f2EECB;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      margin-bottom: 100px;
      text-align: center; }
      #quote-request form .instruction {
        text-align: center;
        padding: 50px;
        line-height: 3em;
        color: #50514f; }
        #quote-request form .instruction h2 {
          font-size: 2em; }
      #quote-request form hr {
        margin-bottom: 3em;
        background-color: #f2EECB;
        border-top: 2px dashed #8c8b8b; }
      #quote-request form input {
        display: block;
        width: 90%;
        border: 1px solid #CCC;
        background: #FFF;
        margin: 20px auto 20px auto;
        padding: 15px;
        font-family: "Open Sans", sans-serif; }
      #quote-request form textarea {
        display: block;
        height: 100px;
        width: 90%;
        margin: 20px auto 20px auto;
        resize: none;
        padding: 15px;
        border: 1px solid #CCC;
        font-family: "Open Sans", sans-serif; }
      #quote-request form button {
        display: block;
        cursor: pointer;
        width: 50%;
        border: none;
        background: #70c1b3;
        color: #fff;
        margin: 35px auto 5px auto;
        padding: 15px;
        font-size: 20px;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-property: background, color; }
        #quote-request form button:hover {
          background: #ffe066;
          color: #50514f; } }

@media only screen and (max-width: 360px) {
  header {
    height: 100%;
    background: url("../images/airplane.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; }
    header #landing-card {
      background: #f2EECB;
      -webkit-box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
      -moz-box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
      box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
      font-family: "Inconsolata", monospace;
      color: #50514f;
      min-width: 50%;
      min-height: 90%;
      font-size: 1.8em;
      line-height: 1em; }
      header #landing-card .card-text {
        text-align: center;
        padding: 1em;
        margin-top: 1em; }
        header #landing-card .card-text hr {
          margin-bottom: 1em;
          border: 0;
          height: 1px;
          background-image: -webkit-linear-gradient(left, #f2EECB, #50514f, #f2EECB);
          background-image: -moz-linear-gradient(left, #f2EECB, #50514f, #f2EECB);
          background-image: -ms-linear-gradient(left, #f2EECB, #50514f, #f2EECB);
          background-image: -o-linear-gradient(left, #f2EECB, #50514f, #f2EECB); }
        header #landing-card .card-text h1 {
          font-size: 30px;
          font-weight: normal; }
        header #landing-card .card-text p a {
          text-decoration: none;
          color: #f25f5c; }
          header #landing-card .card-text p a:hover {
            color: #247ba0; }
  #section3 {
    background: #fff;
    min-height: 75%;
    padding-top: 100px;
    padding-bottom: 100px; }
    #section3 h2 {
      font-size: 3em;
      text-align: center;
      color: #50514f; }
    #section3 #services {
      height: 70%;
      display: block;
      justify-content: center;
      margin: 50px 50px; }
      #section3 #services .services {
        padding: 0em;
        color: #50514f;
        align-content: center;
        text-align: center; }
        #section3 #services .services h3 {
          color: #247ba0;
          font-size: 1.5em;
          margin-bottom: 0.7em; }
      #section3 #services #custom-sites {
        margin: 0px 0em; }
      #section3 #services img {
        padding-bottom: 2em; }
  .two-equal {
    display: none;
    grid-template-columns: auto auto;
    background: #fff; }
    .two-equal .equal-col1 {
      text-align: left; }
      .two-equal .equal-col1 img {
        height: 700px; }
    .two-equal .equal-col2 {
      border-left: 2px solid #247ba0;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: auto;
      color: #247ba0;
      text-align: center; }
      .two-equal .equal-col2 p {
        margin-left: 50px;
        margin-top: 2rem;
        margin-bottom: 0rem;
        width: 600px;
        font-size: 2em;
        line-height: 3em;
        text-align: left;
        font-family: "Inconsolata", monospace; }
  #sample-projects {
    background: #fff;
    min-height: 75%;
    padding-top: 100px;
    padding-bottom: 100px; }
    #sample-projects h2 {
      padding-top: 10px;
      font-size: 3em;
      text-align: center;
      color: #50514f;
      margin-bottom: 80px; }
    #sample-projects #projects {
      height: 70%;
      display: block;
      justify-content: center;
      margin: 50px 28px; }
      #sample-projects #projects .project {
        padding: 0em;
        color: #50514f;
        width: 30%;
        align-content: center;
        text-align: center; }
      #sample-projects #projects #project-2 {
        margin: 0px 0em; }
      #sample-projects #projects img {
        padding-bottom: 2em;
        height: 200px;
        width: 300px; }
  #quote-request {
    height: 100%;
    padding-top: 0px;
    background: #90c1cc;
    position: cover; }
    #quote-request form {
      height: 800px;
      -webkit-box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
      -moz-box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
      box-shadow: 2px 7px 23px 6px rgba(0, 0, 0, 0.27);
      padding: 20px 20px 20px 20px;
      background: #f2EECB;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: center; }
      #quote-request form .instruction {
        text-align: center;
        padding: 50px;
        line-height: 3em;
        color: #50514f; }
        #quote-request form .instruction h2 {
          font-size: 2em; }
      #quote-request form hr {
        margin-bottom: 3em;
        background-color: #f2EECB;
        border-top: 2px dashed #8c8b8b; }
      #quote-request form input {
        display: block;
        width: 90%;
        border: 1px solid #CCC;
        background: #FFF;
        margin: 20px auto 20px auto;
        padding: 15px;
        font-family: "Open Sans", sans-serif; }
      #quote-request form textarea {
        display: block;
        height: 100px;
        width: 90%;
        margin: 20px auto 20px auto;
        resize: none;
        padding: 15px;
        border: 1px solid #CCC;
        font-family: "Open Sans", sans-serif; }
      #quote-request form button {
        display: block;
        cursor: pointer;
        width: 50%;
        border: none;
        background: #70c1b3;
        color: #fff;
        margin: 35px auto 5px auto;
        padding: 15px;
        font-size: 20px;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-property: background, color; }
        #quote-request form button:hover {
          background: #ffe066;
          color: #50514f; } }
